/* Colors */

/*
60% of #08C0F7 - Primary
30% of #F708C0 - Secondary 
10% of #C0F708 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #08C0F7;

/* var(--secondaryColor) !important; */
--secondaryColor: #F708C0;

/* var(--accentColor) !important; */
--accentColor: #C0F708;

}