/* Colors */

/*
60% of #08C0F7 - Primary
30% of #F708C0 - Secondary 
10% of #C0F708 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #366C62;

/* var(--secondaryColor) !important; */
--secondaryColor: #62366C;

/* var(--accentColor) !important; */
--accentColor: #6C6236;

}