@import 'global.css';
@import 'main.css';

.col {
    border: 1px solid black;

}

.col:nth-of-type(2) {
    background-color: blue;
}

.col:nth-of-type(3) {
    background-color: pink;
}

.col:nth-of-type(4) {
    background-color: yellow;
}

.col:nth-of-type(5) {
    background-color: green;
}

.col:nth-of-type(6) {
    background-color: red;
}

.col:nth-of-type(7) {
    background-color: purple;
}

.col:nth-of-type(8) {
    background-color: orange;
}

.col:nth-of-type(9) {
    background-color: brown;
}