<footer>
  <!-- Begin Footer Row -->
  <div class="container-fluid blinn-footer-container">
    <div class="container">
      <div class="row">
        <img src="images/square/logo.png" alt="Photography Image" />
        <h3>"Where true happiness is captured in a single photograph."</h3>
        <br />
        <h3>Contact Information</h3>
        <ul>
          <li>Email / takenwithlove@gmail.com</li>
          <li>Phone / (123) 456-4444</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Footer Row -->
</footer>
